.bar-holder {
    text-align: center;

    p {
        font-size: 22px;
        font-weight: 600;
        margin: 0 0 8px;
        color: #fff;
    }

    input {
        background-color: #1C1C1C;
    }
}

.field-holder {
    max-width: 740px;
    margin: 0 auto;
    position: relative;
    color: #fff;

    input {
        height: 56px;
    }

    button {
        background-color: #AF9E2A;
        width: 55px;
        height: 55px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        outline: none;
        border: 1px solid #AF9E2A;
        position: absolute;
        right: .5px;
        top: .5px;
        cursor: pointer;

        svg {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}
